.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    @media (max-width: 992px) {
        grid-template-columns: repeat(6,2fr);
        overflow: scroll;
    }

    &__item {
        background: linear-gradient(257.65deg, #1B263B -171.23%, #415A77 79.52%);
        padding: 20px;
        display: inline-block;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        &-title {
            font-weight: 400;
            font-size: 25px;
            color: white;
            text-align: center;
        }
    }
}